/*
CSS Stylesheet for Posts per Cat
Plugin URI: http://blog.urosevic.net/wordpress/posts-per-cat/
Description: Posts per Cat list latest `N` articles from all, top level only or manually choosen categories and group them in category boxes organized in one, two, three or four columns.
Author: Aleksandar Urošević
Version: 1.0.0
Author URI: http://urosevic.net
*/
#ppc-box {
	width: 100%;
	clear: both;
	border: none;
	margin: 0;
	padding: 0;
}
#ppc-box .clear {
	position: relative;
	clear: both;
	width: 100%;
}

/* columns */
#ppc-box .ppc-box {
	position: relative;
	float: left;
	padding: 0;
	margin: 0 0 7px 0;
}
#ppc-box .one {
	width: 100%;
	clear: both;
}
#ppc-box .two {
	width: 49%;
	margin-right: 1%;
}
#ppc-box .three {
	width: 32%;
	margin-right: 1%;
}
#ppc-box .four {
	width: 24%;
	margin-right: 1%;
}

/* category box content */
#ppc-box .ppc-box .ppc ul li p {
	clear: both;
}
#ppc-box .ppc-box .ppc .ppc-more {
	display: block;
	clear: both;
	position: relative;
	width: 100%;
	text-align: right;
	margin-top: 9px;
	font-size: x-small;
}
.ppc li {
	clear: both;
}
.ppc li p img {
	float: left !important;
	position: relative !important;
	margin: 0 10px 5px 0 !important;
	padding: 0 !important;
	border: none !important;
}
