html, body {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#adContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#headline {
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: bold;
  opacity: 0;
  line-height:1.2;
}

#description {
  font-family: 'Roboto', Arial, sans-serif;
  opacity: 0;
  font-weight:300;
}

#logo-image {
  opacity: 0;
}

#product-image {
  opacity: 0;
}

#button {
  text-align: center;
  font-family: 'Roboto', Arial, sans-serif;
  opacity: 0;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2);
  background: #333;
  font-weight: 500;
}

[data-variation='tower'] #headline {
  text-align: center;
}

[data-variation='tower'] #description {
  text-align: center;
}

[data-variation='square'] #headline {
  text-align: center;
}

[data-variation='square'] #description {
  text-align: center;
}

/* Default animations */
#adContent[data-variation]:not([data-variation*='small']) > * {
  -webkit-animation: gradation_keyframes 1.6s cubic-bezier(.4, 0, .2, 1) both;
  animation: gradation_keyframes 1.6s cubic-bezier(.4, 0, .2, 1) both;
}

[data-variation]:not([data-variation*='small']) #description {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

[data-variation]:not([data-variation*='small']) #logo-image {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

[data-variation]:not([data-variation*='small']) #product-image {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}

[data-variation]:not([data-variation*='small']) #button {
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}

@-webkit-keyframes
gradation_keyframes {
    0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes
gradation_keyframes {
    0% {opacity: 0;}
  100% {opacity: 1;}
}

/* Small size animations */
[data-variation*='small'] #headline {
  -webkit-animation: small_l1_keyframes 3.75s ease-in-out 4 alternate both;
  animation: small_l1_keyframes 3.75s ease-in-out 4 alternate forwards;
}

[data-variation*='small'] #description {
  -webkit-animation: small_l2_keyframes 3.75s ease-in-out 4 alternate both;
  animation: small_l2_keyframes 3.75s ease-in-out 4 alternate both;
}

#adContent[data-variation*='small'],
#adContent[data-variation*='small'] > * {
  opacity: 1;
}

@-webkit-keyframes
small_l1_keyframes {
   0%, 44% {opacity: 1; -webkit-transform: translateY(0);}
  56%,100% {opacity: 0; -webkit-transform: translateY(-30px);}
}

@keyframes
small_l1_keyframes {
   0%, 44% {opacity: 1; transform: translateY(0);}
  56%,100% {opacity: 0; transform: translateY(-30px);}
}

@-webkit-keyframes
small_l2_keyframes {
   0%, 44% {opacity: 0; -webkit-transform: translateY(30px);}
  56%,100% {opacity: 1; -webkit-transform: translateY(0);}
}

@keyframes
small_l2_keyframes {
   0%, 44% {opacity: 0; transform: translateY(30px);}
  56%,100% {opacity: 1; transform: translateY(0);}
}
