html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
body {
  line-height:1;
  color: #0f3556;
  background-color: #fff;
  -webkit-font-smoothing: antialiased !important;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}
input, textarea, select {
  line-height: 1.3em;
  height: 2.5em;
  padding: 10px 0.8em;
  border: 1px solid rgba(0,0,0,0.1);
  width: 100%;
  border-radius: 3px;

}
ol, ul {
  list-style: none;
}
a {
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  color: #0f3556;
}
a:hover{
  text-decoration: none;
}
hr {
  display:block;
  height:1px;
  border:0; 
  border-top:1px solid rgba(236,219,228,0.2);
  margin-top:0px;
  padding:0;
  position: relative;
  z-index: 9;
}
input, select {
  vertical-align:middle;
}
input, textarea, select{
  line-height: 40px;
  height: 40px;
  border: 1px solid rgba(0,0,0,0.1);
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
  border:none;
  outline:none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}
i{
  cursor: pointer;
}
h1, h2, h3, h4, h5{
  font-family:"Playfair Display", serif;
}
h2{
  font-family:"Playfair Display", serif;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 900;
}
h3 {
  font-size: 30px;
  font-weight: 700;
}
h4{
  font-size:18px;
}
h5{
  font-size: 16px;
}
p{
  font-family:"Lato", sans-serif;
  font-size: 14px;
  line-height:1.5;
}
em{
  font-weight: normal;
}
@import "font-awesome-sprockets";
@import "font-awesome";

/**************Responsive***************/
#mobile-bar {
  background: #fff none repeat scroll 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: :block;
  height: 48px;
  padding: 15px 10px 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.mob-title a{
  font-weight: normal;
}
#offcanvas-togglers, #offcanvas-togglers:focus,#offcanvas-toggler, #offcanvas-toggler:focus {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #333;
  cursor: pointer;
  height: 21px;
  margin: 0;
  opacity: 0.85;
  outline: medium none;
  position: absolute;
  width: 24px;
}
#offcanvas-toggler, #offcanvas-togglers {
  font-size: 20px;
  position: absolute;
  right: 0px;
  top: 2px;
}
#offcanvas-togglers{
  right: 15px;
}
.mm-panel{
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: top, right, bottom, border;
  transition-timing-function: ease;
}
.mm-panel li{
  border-color: rgba(0, 0, 0, 0.15);
  position: relative;
  display: block;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: block;
  width: 100%;
}
.mm-panel li a{
  color: inherit;
  display: block;
  line-height: 20px;
  margin: 0;
  overflow: hidden;
  padding: 10px 10px 10px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  color: #0f3556;
}
.mm-panel li:hover a{
  margin-left: 10px;
  transition: all 0.7s;
  color: #F4D025;
}

/***********************PANEL***************************/
.body-overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: -1;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  -ms-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

#side-panel {
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 399;
  width: 300px;
  height: 100%;
  background-color: #F5F5F5;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
}
#side-panel .side-panel-wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 330px;
  height: 100%;
  overflow: auto;
  padding: 50px 70px 50px 40px;
  display: block;
}
#side-panel-trigger-close a {
  display: block;
}
#side-panel .widget:first-child {
  padding-top: 0;
  border-top: 0;
  margin: 0;
}
#side-panel .widget {
  margin-top: 40px;
  padding-top: 40px;
  width: 220px;
  border-top: 1px solid #E5E5E5;
}
.widget:first-child {
  margin-top: 0;
}
.widget {
  position: relative;
  margin-top: 50px;
}
.side-panel-trigger {
  position: relative;
  z-index: 999;
}
.widget h4{
  padding-bottom: 20px;
  text-transform: uppercase;
}
.side-panel-wrap .dropdown-menu{
  margin: 0;
  width: 172px;
}
.side-panel-wrap .dropdown:hover .dropdown-menu{
  display: block;
}
.side-panel-wrap .dropdown-menu{
  padding: 0;
  left: 29px;
}
.side-panel-wrap .dropdown-menu > li > a{
  padding: 10px 20px;
  font-size: 14px;
  text-transform: capitalize;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
}
.side-panel-wrap .dropdown-menu > li:hover a {
  margin-left: 10px;
  transition: all 0.7s;
  color: #F4D025;
}
.side-panel-wrap .dropdown-menu > li:hover{
  background-color: #f5f5f5;
} 
.side-panel-wrap .dropdown-menu > li > a:hover{
  background-color: transparent;
} 
/*****************************************HEADER******************************************************/
header {
  position: relative;
  width: 100%;
}
.header-container {
  background: rgba(0, 0, 0, 0) url("../../images/Rectangle.png") no-repeat scroll center 0;
  height: 350px;
  position: absolute;
  width: 100%;
  background-size: 100% 100%;
}
.top-header {
  float: left;
  font-family: "Lato",sans-serif;
  font-size: 12px;
  margin: 0 auto;
  padding: 8px 0;
  position: relative;
  width: 100%;
  z-index: 999;
  color: #08538d;
}
.top-header i{
  margin-right: 5px;
}
.top-nav-bar {
  float: right;
}
.top-nav-bar  .widget-title{
  display: inline-block;
  margin-right: 26px;
  position: relative;
  padding: 10px 0px;
}
.top-nav-bar .no-right{
  margin-right: 0px;
}
.top-nav-bar .no-right:hover ul.drop-down{
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform-origin: 0 0 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  opacity: 1;
  visibility: visible;
}
.widget-title .i_first{
  margin-right: 5px;
}
.i-weather {
  font-size: 32px;
}
.info-wether {
  margin-left: 25px;
  margin-top: -20px;
}
#ywloc{
  margin-left: 5px;
  letter-spacing: -0.2px;
}
.drop-down {
  background: #d4f5ff;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
  width: 120px;
  position: absolute;
  right: 0;
  top: 100%;
  padding: 0;
  display: block;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform-origin: 0 0 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  opacity: 0;
  visibility: hidden;
}
.drop-down li {
  clear: both;
  color: rgba(0,0,0,0.87);
  cursor: pointer;
  line-height: 2rem;
  width: 100%;
  text-align: left;
  text-transform: none;
  position: relative;
  padding-left: 20px;
}
.drop-down li a{
  padding: 15px 0px;
}
img.iclflag{
  margin-right: 5px;
}
#down{
  margin-right: 0px;
  margin-left: 5px;}
#down:hover .drop-down{
  display: block;
}
/*******************************************MAIN NAV***************************************************/
.main-nav {
  float: left;
  position: relative;
  width: 100%;
  z-index: 99;
}
#logo{
  padding-top: 46px;
}
/****NAVBAR****/
.nav-right {
  position: relative;
}
.navbar-nav {
  position: relative;
  right: -59px;
}
.navbar-nav > li > a {
  padding: 67px 0px 55px;
  font-family: "Playfair Display", serif;
  font-size: 14px;
  color: #fff;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  margin-left: 30px;
  font-weight: 900;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
}
.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus{
  border-bottom: 1px solid #e7e7e7;
  background-color: transparent;
  color: #fff;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus{
  border-bottom: 1px solid #fff;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
}
.search-bar{
  position: relative;
  top: 90px;
}
.search-bar .input-search {
  background: transparent;
  border: 1px solid #c4c4c4;
  width: 82%;
  position: absolute;
  top: 9px;
  right: 47px;
  display: none;
  color: #fff;
  height: 40px;
  line-height: 40px;
  cursor: auto;
}
.btn-search {
  position: absolute;
  font-size: 30px;
  top: -30px;
  right: 55px;
  color: #fff;
}
#btn-trigger{
  position: absolute;
  right: 8px;
  top: 62px;
}
#btn-trigger i{
  color: #fff;
}
.main-nav .dropdown:hover .dropdown-menu{
  display: block;
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform-origin: 0 0 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  opacity: 1;
  visibility: visible;
}
.main-nav .dropdown-menu{
  padding: 0;
  display: block;
  left: 29px;
  margin: 0;
  z-index: 99;
  min-width: 178px;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform-origin: 0 0 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  opacity: 0;
  visibility: hidden;
}
.main-nav .dropdown-menu > li > a{
  padding: 10px 20px;
  font-size: 14px;
  text-transform: capitalize;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
}
.main-nav .dropdown-menu > li:hover a {
  padding-left: 30px;
  color: #F4D025;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
}
.main-nav .dropdown-menu > li:hover{
  background-color: #f5f5f5;
} 
.main-nav .dropdown-menu > li > a:hover{
  background-color: transparent;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
} 
/*************SLIDE BOX************/
.parslide {
  padding: 50px 2.6% 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  -webkit-border-radius: 10px solid #fff;
  -moz-border-radius: 10px solid #fff; 
}
.title-up{
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
.slider-box h1{
  font-family: "Playfair Display",serif;
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
  padding-top: 10px;
  font-weight: 900;
}
.slider-box img{
  border: 10px solid #fff;
  border-radius: 0 0 50% 50% / 0 0 22% 22%;
}

.carousel-caption {
  margin-bottom: 107px;
}
.reservation input{
  line-height: 38px;
}
.reservation input, .reservation select{
  height: 40px;
  vertical-align: middle;
}
/*********RESPONSIVE************/
@media screen and (min-width: 1200px) and (max-width: 1253px) { 
  .parslide {
    overflow: hidden;
    position: relative;
    width: 100%!important;
  }
}
@media (min-width: 1200px) {
  .item.active > img {
    margin-left: auto;
    margin-right: auto;
    height: 490px;
  }
  .parslide {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .slider-helper .carousel-caption {
    margin-bottom: 130px;
  }

}
@media screen and (min-width: 992px) and (max-width: 1008px) { 
  .parslide {
    overflow: hidden;
    position: relative;
    width: 100%!important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .slider-helper .carousel-caption {
    margin-bottom: 70px;
  }
  .main-nav .navbar-nav {
    position: relative;
    right: 93px;
  }
  .header-container {
    background: rgba(0, 0, 0, 0) url("../../images/Rectangle.png") no-repeat scroll center 0 / 100% 72%;
    height: 350px;
    overflow: hidden;
    width: 100%;

  }
}
@media (max-width: 991px) {}
@media (min-width: 768px) and (max-width: 991px) {
  .header-container {
    background: rgba(0, 0, 0, 0) url("../../images/Rectangle.png") no-repeat scroll center 0 / 100% 65%;
    height: 350px;
    overflow: hidden;
    width: 100%;
  }
  #logo img{
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 767px) {}
@media (min-width: 480px) and (max-width: 767px) {
  .header-container {
    background: rgba(0, 0, 0, 0) url("../../images/Rectangle.png") no-repeat scroll center 0 / 100% 45%;
    height: 350px;
    overflow: hidden;
    width: 100%;
  }
  #logo img{
    margin-left: auto;
    margin-right: auto;
  }

}
@media (max-width: 479px) {
  .header-container {
    background: rgba(0, 0, 0, 0) url("../../images/Rectangle.png") no-repeat scroll center 0 / 100% 35%;
    height: 350px;
    overflow: hidden;
    width: 100%;
  }
  #logo {
    padding-top: 35px;
  }
  #logo img{
    margin-left: auto;
    margin-right: auto;
  }

}
@media (max-width: 359px){

}